<div class="overview">
  <div class="first-section">
    <div class="over-first-section">
      <div class="circle">
        <p>Do you want to be a hero?</p>
      </div>
    </div>
  </div>

  <div class="second-section">
    <div>
      <p>In a world full of challenges and difficulties, we all have the potential to be heroes. No cape, superpowers or epic feats required. A true heroine or hero is someone who reaches out, offers help and makes a difference in someone's life.</p>
      <img src="./assets/icons/hero.png" alt="Hero icon">
    </div>
    <div>
      <p>Imagine the smile on the face of a child who receives a better education because of your contribution, or the relief in the eyes of someone who has access to food, clean water, or medical care because of your generosity. Each act of donation, no matter how small, has the power to transform lives and create a positive impact that extends far beyond the moment of donation.</p>
      <img src="./assets/icons/donation.png" alt="Donation icon">
    </div>

  </div>

  <div class="third-section">
    <h2>Why donate?</h2>
    <div class="heart">
      <img src="./assets/icons/heart.png" alt="">
      <div class="reason">
        <h3>Life Changing</h3>
        <p>Your donation transforms lives.</p>
      </div>
    </div>
    <div class="heart">
      <img src="./assets/icons/heart.png" alt="">
      <div class="reason">
        <h3>Solidarity</h3>
        <p>Show empathy and compassion.</p>
      </div>
    </div>
    <div class="heart">
      <img src="./assets/icons/heart.png" alt="">
      <div class="reason">
        <h3>Inspire Change</h3>
        <p>Make a difference now.</p>
      </div>
    </div>
  </div>

</div>
